<!DOCTYPE html>
<html>
<body>
  <h1>Tiny - App</h1>
  <% if (userData) { %>
    <h5>User: <%= userData.email %></h5>
    <form method="POST" action="/logout">
      <input type="submit" value="Logout">
    </form>
  <% } else { %>
    <form method="GET" action="/login">
      <input type="submit" value="Login">
    </form>
    <form method="GET" action="/register">
      <input type="submit" value="Register">
    </form>
  <% } %>
</body>
</html>
