<!DOCTYPE html>
<html>
<body>
  <h1>Tiny - App</h1>
  <% if (username) { %>
    <h5>User: <%= username %></h5>
    <form method="POST" action="/logout">
      <input type="submit" value="Sign-out">
    </form>
  <% } else { %>
    <form method="POST" action="/login">
      <input type="text" name="username" placeholder="enter username">
      <input type="submit" value="Sign-in">
    </form>
  <% } %>
</body>
</html>
