<!HTML html>
<html>
<body>
  <h1>Tiny - App</h1>
  <h5>User: <%= username %></h5>
  <form method="POST" action="/login">
    <input type="text" name="username" placeholder="enter username">
    <input type="submit" value="login">
  </form>
</body>
</html>
