<!DOCTYPE html>
<!DOCTYPE html>
<html>
<head>
  <title>TinyApp - Login</title>
</head>
<body>
  <h1>Login</h1>
  <form method="POST" action="/login">
      <input type="email" name="email" placeholder="Email">
      <input type="password" name="password" placeholder="Password">
      <input type="submit" value="Sign-in">
    </form>
</body>
</html>