<!DOCTYPE html>
<!DOCTYPE html>
<html>
<head>
  <title>TinyApp-Register</title>
</head>
<body>
  <form method="POST" action="/register">
    <input type="email" name="email" placeholder="Email">
    <input type="password" name="password" placeholder="Password">
    <input type="submit" value="Register">
  </form>
</body>
</html>