<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>TinyApp Index</title>
</head>
<body>
<header>
  <% include partials/_header %>
</header>
  <ul>
  <% for (shortUrl in urls) { %>
    <li>
      <%= urls[shortUrl] %> --- <%= shortUrl %> \n
      <form method="POST" action="/urls/shortUrl/delete">
        <a href="">Remove</a>
      </form>
    </li>
  <% } %>
  </ul>
  <a href="">URL Shortener</a>
</body>
</html>
